@use "variables/colors";

.default-gradient {
  background: colors.$default-gradient;
}

.bug-gradient {
  background: colors.$bug-gradient;
}

.dark-gradient {
  background: colors.$dark-gradient;
}

.dragon-gradient {
  background: colors.$dragon-gradient;
}

.electric-gradient {
  background: colors.$electric-gradient;
}

.fairy-gradient {
  background: colors.$fairy-gradient;
}

.fighting-gradient {
  background: colors.$fighting-gradient;
}

.fire-gradient {
  background: colors.$fire-gradient;
}

.flying-gradient {
  background: colors.$flying-gradient;
}

.ghost-gradient {
  background: colors.$ghost-gradient;
}

.grass-gradient {
  background: colors.$grass-gradient;
}

.ground-gradient {
  background: colors.$ground-gradient;
}

.ice-gradient {
  background: colors.$ice-gradient;
}

.ice-gradient {
  background: colors.$ice-gradient;
}

.normal-gradient {
  background: colors.$normal-gradient;
}

.poison-gradient {
  background: colors.$poison-gradient;
}

.psychic-gradient {
  background: colors.$psychic-gradient;
}

.rock-gradient {
  background: colors.$rock-gradient;
}

.steel-gradient {
  background: colors.$steel-gradient;
}

.water-gradient {
  background: colors.$water-gradient;
}
