$bug: #a6b91a;
$dark: #705746;
$dragon: #6f35fc;
$electric: #f7d02c;
$fairy: #d685ad;
$fighting: #c22e28;
$fire: #ee8130;
$flying: #a98ff3;
$ghost: #735797;
$grass: #7ac74c;
$ground: #e2bf65;
$ice: #96d9d6;
$normal: #a8a77a;
$poison: #a33ea1;
$psychic: #f95587;
$rock: #b6a136;
$steel: #b7b7ce;
$water: #6390f0;

$amaranth: #e64a43;
$carrot-orange: #ee8328;
$cement: #8b715f;
$chino: #d1d0aa;
$cinnabar: #e14318;
$cruise: #b4edeb;
$equator: #dfc95b;
$fuchsia-pink: #c45dc2;
$heliotrope: #9c74ff;
$key-lime-pie: #c2d631;
$kobi: #eba2c6;
$lavender-purple: #977cb9;
$malibu: #8aafff;
$melrose: #cebdff;
$mustard: #ffdf56;
$salomie: #ffdf8b;
$snuff: #ddddeb;
$sulu: #9ee971;
$tickle-me-pink: #ff7ca4;
$yellow-orange: #ff994d;

$white: #ffffff;
$erie-black: #1e1d1d;
$scorpion-grey: #575757;
$alto: #d4d4d4;

$default-gradient: linear-gradient(180deg, $carrot-orange 0%, $cinnabar 100%);

$bug-gradient: linear-gradient(180deg, $key-lime-pie 0%, $bug 100%);
$dark-gradient: linear-gradient(180deg, $cement 0%, $dark 100%);
$dragon-gradient: linear-gradient(180deg, $heliotrope 0%, $dragon 100%);
$electric-gradient: linear-gradient(180deg, $mustard 0%, $electric 100%);
$fairy-gradient: linear-gradient(180deg, $kobi 0%, $fairy 100%);
$fighting-gradient: linear-gradient(180deg, $amaranth 0%, $fighting 100%);
$fire-gradient: linear-gradient(180deg, $yellow-orange 0%, $fire 100%);
$flying-gradient: linear-gradient(180deg, $melrose 0%, $flying 100%);
$ghost-gradient: linear-gradient(180deg, $lavender-purple 0%, $ghost 100%);
$grass-gradient: linear-gradient(180deg, $sulu 0%, $grass 100%);
$ground-gradient: linear-gradient(180deg, $salomie 0%, $ground 100%);
$ice-gradient: linear-gradient(180deg, $cruise 0%, $ice 100%);
$normal-gradient: linear-gradient(180deg, $chino 0%, $normal 100%);
$poison-gradient: linear-gradient(180deg, $fuchsia-pink 0%, $poison 100%);
$psychic-gradient: linear-gradient(180deg, $tickle-me-pink 0%, $psychic 100%);
$rock-gradient: linear-gradient(180deg, $equator 0%, $rock 100%);
$steel-gradient: linear-gradient(180deg, $snuff 0%, $steel 100%);
$water-gradient: linear-gradient(180deg, $malibu 0%, $water 100%);
