/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

@use 'sass/styles.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.icon {
  width: 45px;
}

.rotate-90 {
  transform: rotate(90deg);
}
